footer 
    .container
        .logo
            img(src="assets/images/logo_white.png", alt="")
        .menu
            a(href="#").menu__link Главная
            a(href="#").menu__link Новости
            a(href="#").menu__link О проекте
            a(href="#").menu__link Форум
            a(href="#").menu__link Магазин
            a(href="#").menu__link Начать играть
        .soc__wrapper
            a(href="#").soc__link
                img(src="assets/images/icons/vk_white.png", alt="")
            a(href="#").soc__link
                img(src="assets/images/icons/youtube_white.png", alt="")
section.copyright
    .container
        span.copyright © Copyright 2021 
        .salut
            |разработка сайта - 
            a(href="https://salut-promo.ru/") salut promo