doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SkyMP
        include pug/head.pug
    body
        section.first__scroll
            include pug/navbar.pug
            .bg__scene
                img.first__layer(src="assets/images/bg/8c45337.jpg")
                img.second__layer(src="assets/images/bg/e6db1c3.png")
                img.third__layer(src="assets/images/bg/928cdc4.png")
            .container.row
                .col__text
                    h1 The Elder Scrolls V: Skyrim
                        b теперь OnLine
                    .btn__wrapper
                        a(href="#").btn__skymp Скачать лаунчер
                .col-btn
                    button.btn__play
        section.skymp__desc
            .container
                p 
                    |The Elder Scrolls V: Skyrim - ролевая компьютерная игра с открытым миром, разработанная студией Bethesda Game Studios - обрела многопользовательский режим благодаря проекту SkyMP.
                p
                    |SkyMP - это глобальный проект, позволяющий многим людям одновременно окунуться в атмосферу мира древних свитков.
        section.news
            .container
                h1.title Новости
                .news__wrapper
                    a(href="#").news.last
                        img(src="assets/images/news/cef94a52513993.59133b4182ff8.jpg", alt="").bg
                        .date 30.01.2019
                        .news__title Старт ОБТ
                        .news__desc 
                            |Для участия в нём вам потребуется пройти инструкцию
                            |опубликованную в данном посте.                         
                    .col-news
                        a(href="#").news
                            .bg__wrapper
                                img(src="assets/images/news/883a3059660045.5a2a33e031e52.jpg", alt="").bg
                            .date 30.01.2019
                            .news__title Открытая Бета продолжается
                            .news__desc 
                                |Cегодня на сервере зарегистрирован рекорд онлайна - 1061 человек.
                                |Сервер работал стабильно                        
                        a(href="#").news
                            .bg__wrapper
                                img(src="assets/images/news/servers.jpg", alt="").bg
                            .date 30.01.2019
                            .news__title Обновлённый сервер
                            .news__desc 
                                |Буквально час назад у нас произошла неприятная ситуация:
                                |из-за нагрузки в ~20 тысяч...      
                .btn__wrapper
                    a(href="#").btn__skymp Все новости
        section.opportunities
            .container
                h1.title 
                    |Неограниченные
                    br 
                    |возможности
                .opportunities__wrapper
                    .opportunities__item
                        img(src="assets/images/bg/1.png", alt="").bg
                        .text
                            .item__title Взаимодействие с другими игроками
                            .item__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, eveniet!
                    .opportunities__item
                        img(src="assets/images/bg/2.png", alt="").bg
                        .text
                            .item__title Свобода
                            .item__desc Вы можете стать кем угодно, продвигаясь по социальной лестнице от простого стражника до ярла и даже короля Скайрима!
                    .opportunities__item
                        img(src="assets/images/bg/3.png", alt="").bg
                        .text
                            .item__title Экономические отношения
                            .item__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, eveniet!
        section.fractions
            .container
                h1.title Вступайте во фракции
                .fractions__wrapper
                    .btn__wrapper.owl-carousel
                        button.btn__card__switch.active(target="empire")
                        button.btn__card__switch(target="brothers")
                        button.btn__card__switch(target="thieves")
                        button.btn__card__switch(target="dark_brotherhood")
                        button.btn__card__switch(target="magic")
                        button.btn__card__switch(target="city")
                        button.btn__card__switch(target="warriors")
                        button.btn__card__switch(target="vampies")
                        button.btn__card__switch(target="blades")
                    .card__viewer
                        .card.active(card-name="empire")
                            .text
                                h1 Имперский легион                            
                                p 
                                    |Войска Империи издревле славятся своей дисциплиной и верностью. Не найдется армии опытнее Легиона, не найдется бойца преданнее Легионера. 
                                    |И в этот тяжелый час, когда в Скайриме бушует раздор, Имперский Легион прибыл, дабы сохранить провинцию.
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/имперец.png", alt="")
                        .card(card-name="brothers")
                            .text
                                h1 Братья Бури                 
                                p 
                                    |Бравые дочери и сыновья Скайрима, в чьих сердцах еще пламенеет вера в Талоса, восстали против Имперских Доктрин, и имя им - Братья Бури. 
                                    |Под железной рукой лидера, нордское ополчение ведет ожесточенную борьбу за родной край и веру. Да будет Талос свидетелем их отваги! 
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/Буря.png", alt="")
                        .card(card-name="thieves")
                            .text
                                h1 Гильдия воров      
                                p 
                                    |Скрытая от любопытных глаз Гильдия Воров живет в тенях и никогда не упустит шанса прибрать чужое золото. 
                                    |Вы никогда их не услышите, вы никогда их не увидите. Вы лишь обнаружите, что в один прекрасный день, ваш кошель полный золота пропал, 
                                    |а платить за выпивку вам больше нечем. 
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/гильдия воров.png", alt="")
                        .card(card-name="dark_brotherhood")
                            .text
                                h1 Темное братство    
                                p 
                                    |О Темном Братстве ничего не слышно уже более сотни лет, ведь они не оставляют следов. 
                                    |Профессиональные убийцы, слуги Ситиса скрываются в тенях по всему Тамриэлю и давно считаются легендой. 
                                    |Однако даже сегодня находятся те, кто готов совершить Темное Таинство. И, быть может, их молитвы Матери Ночи будут услышаны. 
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/тёмное братство.png", alt="")
                        .card(card-name="magic")
                            .text
                                h1 Коллегия Винтерхолда
                                p
                                    |Винтерхолд был магическим центром Скайрима еще в те века, когда Шалидор основал Коллегию на промерзшем берегу. 
                                    |Прошли тысячелетия, а стены Коллегии Винтерхолда остаются нерушимыми, и по сей день скрывают в себе знания многих поколений. 
                                    |Люди боятся того, что их ждет за вратами Коллегии, однако для магов они всегда открыты. 
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/тёмное братство.png", alt="")
                        .card(card-name="city")
                            .text
                                h1 Города 
                                p 
                                    |Нелегкие времена настали для провинции Скайрим. Раздор гражданской войны затронул каждого, от бездомного, до ярла. 
                                    |И последним еще предстоит решить, кого поддержать в этом пути: Империю, за которую они воевали, или Братьев Бури, 
                                    |сражающихся за традиции и свободу скайримского народа. 
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/тёмное братство.png", alt="")
                        .card(card-name="warriors")
                            .text
                                h1 Соратники    
                                p 
                                    |Истинные воины - бравые последователи Исграмора продолжают хранить древние устои о чести и доблести в стенах Йоррваскра. 
                                    |Соратники известны как лучшие бойцы во всем Скайриме и не постесняются доказать вам это. 
                                    |Но кто знает, что скрывается за маской этих великих воинов? 
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/соратники.png", alt="")
                        .card(card-name="vampies")
                            .text
                                h1 Клан Волкихар
                                p 
                                    |Вампиры - древнее зло бродящее по землям Скайрима. С незапамятных времен Клан Волкихар скрывался в северной провинции и наступает пора, 
                                    |когда монстры выходят из тени. Нападения на дорогах участились и лишь богам известно, к чему это приведет.
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/тёмное братство.png", alt="")
                        .card(card-name="blades")
                            .text
                                h1 Lorem
                                p 
                                    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quas provident necessitatibus tenetur error cumque eveniet est totam pariatur |rerum dolore natus quaerat quis numquam, temporibus velit ducimus quae perspiciatis, praesentium dignissimos quasi ab veritatis. Nam at natus beatae
                                    |fuga.
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/тёмное братство.png", alt="")
        include pug/scripts.pug
        include pug/footer.pug