doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SkyMP
        include pug/head.pug
    body
        include pug/navbar.pug
        section.first__scroll
            .bg__scene
                img.first__layer(src="assets/images/bg/8c45337.jpg")
                img.second__layer(src="assets/images/bg/e6db1c3.png")
                img.third__layer(src="assets/images/bg/928cdc4.png")
            .container 
                .col-text
                    h1 The Elder Scrolls V: Skyrim
                        b теперь OnLine
                    a(href="#").btn-skymp Скачать лаунчер
                .col-btn
                    button.btn-play
        section.skymp-desc
            .container
                p 
                    |The Elder Scrolls V: Skyrim - ролевая компьютерная игра с открытым миром, разработанная студией Bethesda Game Studios - обрела многопользовательский режим благодаря проекту SkyMP.
                p
                    |SkyMP - это глобальный проект, позволяющий многим людям одновременно окунуться в атмосферу мира древних свитков.
        include pug/scripts.pug