doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SkyMP
        include pug/head.pug
    body
        include pug/navbar.pug
        section.first__scroll
            .bg__scene
                img.first__layer(src="assets/images/bg/8c45337.jpg")
                img.second__layer(src="assets/images/bg/e6db1c3.png")
                img.third__layer(src="assets/images/bg/928cdc4.png")
            .container 
                .col__text
                    h1 The Elder Scrolls V: Skyrim
                        b теперь OnLine
                    a(href="#").btn__skymp Скачать лаунчер
                .col-btn
                    button.btn__play
        section.skymp__desc
            .container
                p 
                    |The Elder Scrolls V: Skyrim - ролевая компьютерная игра с открытым миром, разработанная студией Bethesda Game Studios - обрела многопользовательский режим благодаря проекту SkyMP.
                p
                    |SkyMP - это глобальный проект, позволяющий многим людям одновременно окунуться в атмосферу мира древних свитков.
        section.news
            .container
                h1.title Новости
                .news__wrapper
                    a(href="#").news.last
                        img(src="assets/images/news/cef94a52513993.59133b4182ff8.jpg", alt="").bg
                        .date 30.01.2019
                        .news__title Старт ОБТ
                        .news__desc 
                            |Для участия в нём вам потребуется пройти инструкцию
                            |опубликованную в данном посте.                         
                    .col-news
                        a(href="#").news
                            .bg__wrapper
                                img(src="assets/images/news/883a3059660045.5a2a33e031e52.jpg", alt="").bg
                            .date 30.01.2019
                            .news__title Открытая Бета продолжается
                            .news__desc 
                                |Cегодня на сервере зарегистрирован рекорд онлайна - 1061 человек.
                                |Сервер работал стабильно                        
                        a(href="#").news
                            .bg__wrapper
                                img(src="assets/images/news/servers.jpg", alt="").bg
                            .date 30.01.2019
                            .news__title Обновлённый сервер
                            .news__desc 
                                |Буквально час назад у нас произошла неприятная ситуация:
                                |из-за нагрузки в ~20 тысяч...      
                .btn__wrapper
                    a(href="#").btn__skymp Все новости
        section.opportunities
            .container
                h1.title 
                    |Неограниченные
                    br 
                    |возможности
                .opportunities__wrapper
                    .opportunities__item
                        img(src="assets/images/bg/1.png", alt="").bg
                        .text
                            .item__title Взаимодействие с другими игроками
                            .item__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, eveniet!
                    .opportunities__item
                        img(src="assets/images/bg/2.png", alt="").bg
                        .text
                            .item__title Свобода
                            .item__desc Вы можете стать кем угодно, продвигаясь по социальной лестнице от простого стражника до ярла и даже короля Скайрима!
                    .opportunities__item
                        img(src="assets/images/bg/3.png", alt="").bg
                        .text
                            .item__title Экономические отношения
                            .item__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, eveniet!
        section.fractions
            .container
                h1.title Вступайте во фракции
                .fractions__wrapper
                    .btn__wrapper
                        button.btn__card__switch.active(target="empire")
                        button.btn__card__switch(target="brothers")
                        button.btn__card__switch(target="thieves")
                        button.btn__card__switch(target="dark_brotherhood")
                        button.btn__card__switch(target="magic")
                        button.btn__card__switch(target="city")
                        button.btn__card__switch(target="warriors")
                        button.btn__card__switch(target="vampies")
                        button.btn__card__switch(target="blades")
                    .card__viewer
                        .card.active(card-name="empire")
                            .text
                                h1 Имперский легион                            
                                p 
                                    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quas provident necessitatibus tenetur error cumque eveniet est totam pariatur |rerum dolore natus quaerat quis numquam, temporibus velit ducimus quae perspiciatis, praesentium dignissimos quasi ab veritatis. Nam at natus beatae
                                    |fuga.
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/имперец.png", alt="")
                        .card(card-name="brothers")
                            .text
                                h1 Братья Бури                 
                                p 
                                    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quas provident necessitatibus tenetur error cumque eveniet est totam pariatur |rerum dolore natus quaerat quis numquam, temporibus velit ducimus quae perspiciatis, praesentium dignissimos quasi ab veritatis. Nam at natus beatae
                                    |fuga.
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/Буря.png", alt="")
                        .card(card-name="thieves")
                            .text
                                h1 Гильдия воров      
                                p 
                                    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quas provident necessitatibus tenetur error cumque eveniet est totam pariatur |rerum dolore natus quaerat quis numquam, temporibus velit ducimus quae perspiciatis, praesentium dignissimos quasi ab veritatis. Nam at natus beatae
                                    |fuga.
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/гильдия воров.png", alt="")
                        .card(card-name="dark_brotherhood")
                            .text
                                h1 Темное братство    
                                p 
                                    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quas provident necessitatibus tenetur error cumque eveniet est totam pariatur |rerum dolore natus quaerat quis numquam, temporibus velit ducimus quae perspiciatis, praesentium dignissimos quasi ab veritatis. Nam at natus beatae
                                    |fuga.
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/тёмное братство.png", alt="")
                        .card(card-name="magic")
                            .text
                                h1 Lorem
                                p
                                    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quas provident necessitatibus tenetur error cumque eveniet est totam pariatur |rerum dolore natus quaerat quis numquam, temporibus velit ducimus quae perspiciatis, praesentium dignissimos quasi ab veritatis. Nam at natus beatae
                                    |fuga.
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/тёмное братство.png", alt="")
                        .card(card-name="city")
                            .text
                                h1 Lorem
                                p 
                                    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quas provident necessitatibus tenetur error cumque eveniet est totam pariatur |rerum dolore natus quaerat quis numquam, temporibus velit ducimus quae perspiciatis, praesentium dignissimos quasi ab veritatis. Nam at natus beatae
                                    |fuga.
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/тёмное братство.png", alt="")
                        .card(card-name="warriors")
                            .text
                                h1 Соратники    
                                p 
                                    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quas provident necessitatibus tenetur error cumque eveniet est totam pariatur |rerum dolore natus quaerat quis numquam, temporibus velit ducimus quae perspiciatis, praesentium dignissimos quasi ab veritatis. Nam at natus beatae
                                    |fuga.
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/соратники.png", alt="")
                        .card(card-name="vampies")
                            .text
                                h1 Lorem
                                p 
                                    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quas provident necessitatibus tenetur error cumque eveniet est totam pariatur |rerum dolore natus quaerat quis numquam, temporibus velit ducimus quae perspiciatis, praesentium dignissimos quasi ab veritatis. Nam at natus beatae
                                    |fuga.
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/тёмное братство.png", alt="")
                        .card(card-name="blades")
                            .text
                                h1 Lorem
                                p 
                                    |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quas provident necessitatibus tenetur error cumque eveniet est totam pariatur |rerum dolore natus quaerat quis numquam, temporibus velit ducimus quae perspiciatis, praesentium dignissimos quasi ab veritatis. Nam at natus beatae
                                    |fuga.
                                a(href="#").btn__skymp Начать играть
                            .fraction__image
                                img(src="assets/images/fraction/тёмное братство.png", alt="")
        include pug/scripts.pug
        include pug/footer.pug