include pug/navbar.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SkyMP - Страница новости
        include pug/head.pug
    body
        section.pagetitle(style="background-image:url(assets/images/bg/news_page.jpg)")
            +Navbar(false, 'white')
            .container
                ul.breadcrumds
                    li 
                        a(href="#") Главная 
                    li 
                        a(href="#") Новости 
                    li 
                        a(href="#") Страница новости 
                h1 Открытая Бета продолжается
                h2 Сегодня на сервере зарегистрирован рекорд онлайна - 1061 человек. Сервер работал стабильно
                .date 30.01.2019
        section.news__page
            .container
                .cke__wrapper
                    p
                        |Открытая Бета продолжается, сегодня на сервере зарегистрирован рекорд онлайна - 1061 человек. Сервер работал стабильно, кроме момента, когда 400+ человек 
                        |собралось в одной точке, и пинг начал скакать. Сейчас ведётся работа над оптимизацией сетевого кода для скоплений игроков вплоть до 1000 человек, 
                        |а также исправлением вылетов, мелких багов и проблем с входом в игру у небольшого процента пользователей. Когда основные проблемы будут исправлены, мы приступим 
                        |к введению нового функционала и синхронизации.
                    p
                        |Благодарим всех, кто принимает участие и тем самым помогает нам сделать SkyMP лучше. Тестирование продолжится в открытом формате вплоть до релиза, и на Ваших 
                        |глазах будут воплощены запланированные игровые механики.
                    p
                        |Также, спасибо всем, кто просто подписался и следит за новостями проекта. Нас уже более 30 тысяч в группе ВКонтакте. Данная цифра для нас внушительна. Кроме того,
                        | пристальное внимание сообщества наделяет нашу команду особой ответственностью. Мы сделаем всё, чтобы не подвести Вас. Следите за новостями.
                    p
                        |P.S. Напоминаем, что узнать необходимую информацию, сообщить о проблеме или задать интересующий вопрос можно в Discord-сервере проекта 
                        |по ссылке: 
                        a(href="#")
                            |https://discordapp.com/invite/WABaRfW
                .news__wrapper
                    .col__news
                        a(href="news_page.html").news
                            .bg__border
                                .bg__wrapper
                                    img(src="assets/images/news/883a3059660045.5a2a33e031e52.jpg", alt="").bg
                            .date 30.01.2019
                            .news__title Открытая Бета продолжается
                            .news__desc 
                                |Cегодня на сервере зарегистрирован рекорд онлайна - 1061 человек.
                                |Сервер работал стабильно       
                        a(href="news_page.html").news
                                .bg__border
                                    .bg__wrapper
                                        img(src="assets/images/news/883a3059660045.5a2a33e031e52.jpg", alt="").bg
                                .date 30.01.2019
                                .news__title Открытая Бета продолжается
                                .news__desc 
                                    |Cегодня на сервере зарегистрирован рекорд онлайна - 1061 человек.
                                    |Сервер работал стабильно       


        include pug/footer.pug
        include pug/scripts.pug