body
{
    margin: 0;
    font-family: "TrajanPro3";
    color: #fff;
    background: #000;
}

body.lock
{
    overflow: hidden;
}

*, ::after, ::before 
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
}

button
{
    outline: none;
}

.container
{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.btn__skymp
{
    padding: 20px 40px 16px 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    display: inline-block;
    position: relative;
}

.btn__skymp:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg/btn_skymp.jpg) no-repeat;
    background-size: cover;
    z-index: -1;
    
    transition: 0.5s;
}

.btn__skymp:hover:before
{
    filter: contrast(150%);
}

.title
{
    font-size: 52px;
    font-weight: 400;
}

section
{
    padding-top: 80px;
}

.navbar 
{
    color: #000;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar, footer
{
    .container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        position: relative;
        z-index: 20;
    }
}

.menu 
{
    .menu__link
    {
        font-size: 19px;
        margin: 0 15px;
        position: relative;
    }

    .menu__link:after
    {
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        background-color: #000;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        transition: 0.3s;
    }
    
    .menu__link:hover:after
    {
        width: 100%;
    }
}

.soc__wrapper
{
    .soc__link
    {
        margin-right: 25px;
        transition: 0.5s;
        display: inline-flex;
    }

    .soc__link:last-of-type
    {
        margin-right: 0;
    }

    .soc__link:hover
    {
        transform: scale(1.1);
    }
}

.bg__clouds
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    overflow: hidden;
    height: 200px;
    background-repeat: repeat;
    pointer-events: none;
}

.bg__clouds.main
{
    background: url(../images/bg/clouds_main.png);
}

.bg__clouds.second
{
    background: url(../images/bg/clouds_second.png);
}

section.first__scroll
{
    padding-top: 140px;
    height: 100vh;
    min-height: 650px;
    position: relative;
    overflow: hidden;
    .bg__scene
    {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        img
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
    .bg__scene:before
    {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, #000, transparent);
        z-index: 10;
    }
    .container.row
    {
        color: #000;
        display: flex;
        margin-top: 100px;
    }
    .col__text 
    {
        h1 
        {
            font-weight: 400;
            font-size: 40px;
            margin-bottom: 80px;

            b
            {
                display: block;
                color: #134467;
                font-size: 66px;
            }
        }
    }
    .col-btn
    {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        .btn__play
        {
            width: 128px;
            height: 128px;
            border-radius: 50%;
            border: 3px solid #babcbd;
            background-color: rgba(0, 0, 0, 0.7);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
            position: relative;
            transition: 0.5s;
            cursor: pointer;
        }
        .btn__play:before
        {
            content: url(../images/icons/play.png);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-35%, -50%);
        }
        .btn__play:hover
        {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}

section.skymp__desc
{
    padding-top: 160px;

    p 
    {
        font-size: 22px;
        text-align: center;
        margin-bottom: 80px;
    }
}

section.news
{
    .news__wrapper
    {
        display: flex;

        .news.last
        {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 30px 20px;
            overflow: hidden;
            .bg
            {
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;

                object-fit: cover;
                max-height: none;
                transition: 0.3s;
            }
            .news__title
            {
                text-decoration: underline;
                font-weight: 800;
            }
            .news__desc
            {
                text-decoration: underline;
            }
        }
        .news.last:hover .bg
        {
            width: 110%;
            height: 110%;
        }
        .news
        {
            position: relative;
            margin: 15px;
            display: block;
            .bg
            {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: 0.3s;
            }
            .bg__wrapper
            {
                width: 100%;
                max-height: 230px;
                overflow: hidden;
                display: flex;
            }
            .date
            {
                position: absolute;
                top: 15px;
                left: 0;
                background-color: #134467;
                padding: 8px 10px 3px 40px;
                display: flex;
                align-items: center;
            }
            .date:before
            {
                content: url(../images/icons/clock.png);
                width: 21px;
                height: 21px;
                position: absolute;
                left: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
            }   
            .news__title
            {
                font-size: 18px;
                margin: 10px 0;
            } 
            .news__desc
            {
                font-size: 14px;
                color: #babcbd;
            }        
        }
        .col-news .news:hover .bg
        {
            transform: scale(1.05);
        }
    }

    .btn__wrapper
    {
        text-align: center;
        margin-top: 40px;
    }
}

section.opportunities
{
    background: url(../images/bg/каджит.png);
    background-size: cover;
    padding-bottom: 80px;
    position: relative;
    .opportunities__wrapper
    {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        .opportunities__item
        {
            display: flex;
            align-items: flex-end;
            position: relative;
            width: 328px;
            height: 550px;
            .bg
            {
                position: absolute;
                bottom: 0;
            }
            .text
            {
                padding: 25px;
                position: relative;
                z-index: 5;
                .item__title
                {
                    font-size: 22px;
                    text-decoration: underline;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
                .item__desc
                {
                    transition: 0.8s;
                    max-height: 0;
                    overflow: hidden;
                }
            }
            .text:after
            {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../images/bg/redstone.jpg);
                background-size: cover;
                z-index: -1;
                transition: 0.5s;
                opacity: 0;
            }
        }
        .opportunities__item:hover
        {
            .text:after
            {
                opacity: 1;
            }
            .item__desc
            {
                max-height: 550px;
            }
        }
        .opportunities__item:nth-child(2)
        {
            .bg
            {
                left: -34px;
            }
        }
        .opportunities__item:nth-child(3)
        {
            .bg
            {
                left: -31px;
            }
        }
    }
}

section.opportunities:before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #000, transparent);
    z-index: 10;
}

@mixin FractionBtn($fractionId) 
{
    .btn__card__switch[target="#{$fractionId}"]
    {
        background: url(../images/icons/#{$fractionId}_hover.png);
        filter: grayscale(1);
    }

    .btn__card__switch[target="#{$fractionId}"]:hover, .btn__card__switch.active[target="#{$fractionId}"]
    {
        filter: grayscale(0);
    }
}

section.fractions
{
    background: url(../images/bg/bg.png) no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    .fractions__wrapper
    {
        .btn__wrapper
        {
            display: flex;
            justify-content: space-between;
        }
        .btn__card__switch
        {
            width: 89px;
            height: 89px;
            border: none;
            transition: 0.3s;
            cursor: pointer;
        }

        @include FractionBtn('empire');
        @include FractionBtn('brothers');
        @include FractionBtn('thieves');
        @include FractionBtn('dark_brotherhood');
        @include FractionBtn('magic');
        @include FractionBtn('city');
        @include FractionBtn('warriors');
        @include FractionBtn('vampies');
        @include FractionBtn('blades');

        .card__viewer
        {
            margin-top: 20px;
            .card.active
            {
                display: flex;
                align-items: center;

                

            }
            .card
            {
                .text
                {
                    padding-right: 50px;
                    padding-bottom: 80px;
                    h1
                    {
                        font-size: 35px;
                    }
                    p
                    {
                        font-size: 18px;
                    }
                    .btn__skymp
                    {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}

footer
{
    background-color: #0c0c0c;
    .container
    {
        padding: 25px 15px;
    }
    .menu
    {
        .menu__link:after
        {
            background-color: #fff;
        }
    }
}

section.copyright
{
    padding: 25px 0;
    .container
    {
        display: flex;
        justify-content: space-between;

        .salut a 
        {
            color: #0c8db8;
            transition: 0.5s;
        }

        .salut a:hover
        {
            color: #e83701;
        }
    }
}

.btn__menu
{
    width: 40px;
    height: 40px;
    border: none;
    position: relative;
    transition: 0.5s;
    background: none;
    display: none;
}

.btn__menu:before, .btn__menu:after, .btn__menu span
{
    height: 2px;
    position: absolute;
    background: #000;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.btn__menu span
{
    width: 65%;    
}

.btn__menu:before
{
    content: "";
    width: 50%;
    transform: translate(-50%, -6px);
}

.btn__menu:after
{
    content: "";
    width: 50%;
    transform: translate(-50%, 6px);
}

.btn__menu:hover:after, .btn__menu:hover:before, .btn__menu:hover span
{
    width: 65%;
}

.btn__menu.active span
{
    opacity: 0; 
}

.btn__menu.active:after
{
    top: 50%;
    transform: translate(-50%, -50%) rotate(-135deg);
}

.btn__menu.active:before
{
    transform: translate(-50%, -50%) rotate(135deg);
}

@import 'responce';