body
{
    margin: 0;
    font-family: "TrajanPro3";
    color: #fff;
    background: #000;
    height: 5000px;
}

*, ::after, ::before 
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
}

.container
{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.btn-skymp
{
    padding: 20px 40px 16px 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    
    position: relative;
    span
    {
        margin-bottom: -2px;
    }
}

.btn-skymp:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg/btn_skymp.jpg) no-repeat;
    background-size: cover;
    z-index: -1;
    
    transition: 0.5s;
}

.btn-skymp:hover:before
{
    filter: contrast(150%);
}

.navbar 
{
    color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

    .container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
}

.menu 
{
    .menu__link
    {
        font-size: 19px;
        margin: 0 15px;
        position: relative;
    }

    .menu__link:after
    {
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        background-color: #000;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        transition: 0.3s;
    }
    
    .menu__link:hover:after
    {
        width: 100%;
    }
}

.soc__wrapper
{
    .soc__link
    {
        margin-right: 25px;
        transition: 0.5s;
        display: inline-flex;
    }

    .soc__link:last-of-type
    {
        margin-right: 0;
    }

    .soc__link:hover
    {
        transform: scale(1.1);
    }
}

.bg__clouds
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    height: 200px;
    background-repeat: repeat;
}

.bg__clouds.main
{
    background: url(../images/bg/clouds_main.png);
}

.bg__clouds.second
{
    background: url(../images/bg/clouds_second.png);
}

section.first__scroll
{
    padding-top: 140px;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .bg__scene
    {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        img
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
    .bg__scene:before
    {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, #000, transparent);
        z-index: 10;
    }
    .container
    {
        color: #000;
        display: flex;
        margin-top: 100px;
    }
    .col-text 
    {
        h1 
        {
            font-weight: 400;
            font-size: 40px;
            margin-bottom: 80px;

            b
            {
                display: block;
                color: #134467;
                font-size: 66px;
            }
        }
    }
    .col-btn
    {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        .btn-play
        {
            width: 128px;
            height: 128px;
            border-radius: 50%;
            border: 3px solid #babcbd;
            background-color: rgba(0, 0, 0, 0.7);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
            position: relative;
            transition: 0.5s;
            cursor: pointer;
        }
        .btn-play:before
        {
            content: url(../images/icons/play.png);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-35%, -50%);
        }
        .btn-play:hover
        {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}